{% extends "@Ticketing/base.html.twig" %}

{% block navbar %}
    {% if app.user %}
        <li>
            <a href="{{ path('security_logout') }}">Se déconnecter</a>
        </li>
    {% else %}
        <li>
            <a href="{{ path('security_login') }}">Se connecter</a>
        </li>
        <li>
            <a href="{{ path('user_register') }}">S'inscrire</a>
        </li>
    {% endif %}
{% endblock %}
